.social-login
    button.social-login__github
        span
            i.fab.fa-github
        | Github Login
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | Facebook Login