.social-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button {
        width: 100%;
        margin: 10px 0px;
        max-width: 320px;
        span {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
.social-login__github {
    background-color: $black;
    color: white;
}
.social-login__facebook {
    background-color: #3a5998;
    color: white;
}