extends layouts/main

block content
    .form-container
        form(action=`${routes.editVideo(video.id)}`, method="post")
            input(type="text",name="title",placeholder="제목",value=video.title)
            textarea(type="text",name="description",placeholder="설명")=video.description
            input(type="submit",values="Upload Video")
    a.form-container__link--delete.form-container__link(href=`${routes.deleteVideo(video.id)}`) Delete Video
            

        